---
import FinishWorkoutButton from "../components/FinishWorkoutButton.astro";

import { type Exercise } from "../types";

export interface Props {
  exercises: Exercise[];
}

const { exercises } = Astro.props;
---

<sector class="workout-plan flex flex-col gap-6 max-w-5xl mx-auto py-8 px-4 sm:px-6">
  {
    exercises.map((exercise, exerciseIndex) => (
      <div class="card shadow-lg hover:shadow-xl transition-shadow duration-300 border border-primary">
        <div class="card-body">
          <div class="flex items-center justify-between mb-6">
            <h2 class="card-title text-xl md:text-2xl">{exercise.name}</h2>
            <button
              id={`edit-button-${exerciseIndex}`}
              class="btn btn-ghost btn-sm open-modal-button"
              aria-label="Edit"
              aria-controls={`edit-workout-plan-${exerciseIndex}`}
            >
              <svg
                width="30px"
                height="30px"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
                class="bi bi-three-dots-vertical"
              >
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
              </svg>
            </button>
          </div>
          <div class="flex gap-4 mb-4">
            {[...Array(exercise.sets)].map((_, setIndex) => (
              <div
                class="transform transition duration-300 hover:scale-105 font-bold text-secondary rounded-full bg-accent flex items-center justify-center cursor-pointer h-14 w-14 p-4"
                data-key={`${exercise.name}-${setIndex}`}
                data-reps={exercise.reps}
              >
                {exercise.reps}
              </div>
            ))}
          </div>
          <div class="justify-end card-actions">
            <div class="badge badge-primary text-lg p-5">{exercise.weight}</div>
          </div>
        </div>
      </div>
    ))
  }

  <div
    id="countdownTimer"
    class="fixed inset-x-0 bottom-4 max-w-sm mx-auto px-6 py-2 bg-opacity-90 bg-primary text-white text-xl font-semibold text-center rounded-full hidden w-2/3"
  >
    <span class="countdown">
      Rest <span class="px-2" style="--value:60;"></span> seconds
    </span>
  </div>

  {exercises.map((exercise, exerciseIndex) => (
    <dialog id={`edit-workout-plan-${exerciseIndex}`} class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Save</button>
          </form>
        </div>
      </div>
    </dialog>
  ))}
</sector>

<FinishWorkoutButton />

<script src="../scripts/workout-plans.ts"></script>
